.post {
  background-color: #f7fcf7;
  padding: 1.5rem 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  max-width: 80%;
  width: 100%;

  h1 {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
  }

  p {
    margin: 0.5rem 0;
    line-height: 1.5;
    color: #333;
  }
}
